@import '~@gravity-ui/uikit/styles/mixins.scss';

.brand-button {
    --g-color-text-brand-contrast: var(--g-color-text-light-primary);
    --g-color-base-brand: var(--g-color-private-color-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-color-400);

    &.g-button_loading {
        --g-button-background-color: var(--g-color-private-color-400);
        --g-button-background-color-hover: var(--g-color-private-color-150);
    }

    .g-button__text {
        @include text-body-2();
        margin: auto;
    }
}